@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryDarkBlue: #10141e;
  --primaryRed: #fc4747;
  --primaryWhite: #ffffff;
  --primaryGreishBlue: #5a698f;
  --primarySemiDarkBlue: #161d2f;
}

@layer base {
  body {
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    background-color: var(--primaryDarkBlue);
    color: var(--primaryWhite);
  }

  img {
    max-width: 100%;
  }

  input {
    caret-color: var(--primaryRed);
  }
}

@layer components {
  .input-wrapper::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: var(--primaryGreishBlue);
    transition: 300ms ease-in;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--primaryGreishBlue);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primaryWhite);
}
